#HCB_comment_box{padding: 10px; color:#ffb3e6; background: rgba(0, 0, 0, 0);}
.hcb-mod b{color:#ffb3e6;}
#HCB_comment_box textarea,#HCB_comment_box input.text{border-top:1px solid #ffb3e6;border-left:1px solid #ffb3e6;border-bottom:1px solid #ffb3e6;border-right:1px solid #ffb3e6;background-color:#fff;}
#HCB_comment_box .hcb-wrapper-half{display:block;width:50%;float:left;}
#HCB_comment_box .hcb-wrapper{clear:both;}
#HCB_comment_box input.text{display:block;width:95%;}
#HCB_comment_box input.submit{border-top:1px solid #ffb3e6;border-left:1px solid #ffb3e6;border-bottom:1px solid #ffb3e6;border-right:1px solid #ffb3e6;background-color:#ffb3e6;color:#fff;font-weight:bold;cursor:pointer;}
#HCB_comment_box div.comment{color:#ffb3e6; background: rgba(0, 0, 0, 0.5); border:3px double #ffb3e6 ; margin:5px; padding:2px;}
#HCB_comment_box .comment .likes{color: #00FF00;}
#HCB_comment_box .hcb-link{color:#ffb3e6;text-decoration:none;} 
.hcb-icon {
	display: none;
}
.home-desc {display:none;}
body {
	font-family: Henny Penny, system-ui;
}
